.app {
    padding: 30px;
    background-color: floralwhite;
    width: 80%;
}
  
.todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

button {
    background: content-box;
    color: coral;
    border: 1px solid coral;
    border: none;
    outline: none;
}